.card {
    background: #fec97b;
    padding: 1rem;
    width: 97, 5%;
    font-family: 'Playpen Sans', cursive;
}

/* .color3 { #ffe497 };
.color4 { # };
.color5 { #ffffb4 }; */

img {

    width: 20rem;
    margin: 2rem;
    border-radius: 2rem;

}

.card h1 {

    margin-left: 5rem;
    background-color: #fff2a6;
    width: 16%;
    padding: 1rem;
    border-radius: 10rem;
    font-family:'Playpen Sans', cursive;

}

.card h2, p {

    background-color: #ffffb4;
    width: 13%;
    padding: 1rem;
    font-family: 'Playpen Sans', cursive;

}